<table summary="Page form field">
  <tr>
    <th><%= f.label(:subject_id, "Subject") %></th>
    <td><%= f.select(:subject_id, Subject.all.map { |sub| [sub.name, sub.id] }) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:position) %></th>
    <td><%= f.select(:position, 1..@pages_count) %></td>
  </tr>
  <tr>
  <tr>
    <th>Permalink: </th>
    <td><%= f.text_field(:permalink) %></td>
  </tr>
    <th>Visible</th>
    <td><%= f.check_box(:visible) %></td>
  </tr>
</table>